
:root {
  --second-color: rgb(167, 167, 167);
  --white-color: rgb(255, 255, 255);
  --semititle-color: rgb(167, 237, 246);
  --gray-light-color: rgb(243, 243, 243);
  --gray-color: rgb(204, 204, 204);
  --gray-dark-color: rgb(102, 102, 102);
  --black-color: rgb(0, 0, 0);
  --title-color: rgb(51, 51, 51);
  --text-color: rgb(34, 34, 34);
  --white-alpha-color: rgba(255, 255, 255, 0.679);
  --black-alpha-color: rgba(0, 0, 0, 0.371);
  --background-color: rgb(30,35,38);
  --font:'Roboto', sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

*{
    box-sizing: border-box;
    font-size: 18px;    
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
  font-family: var(--font);
  font-size: 16px;
  line-height: 1.6;
}
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}
/* MENU */
.contenedor-header{
    background: var(--gray-light-color);
    position:fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    z-index: 1; 
}
.contenedor-header header{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
    padding: 15px;
}
.contenedor-header header .nav{
    margin-right: 20px;
    background-color: var(--semititle-color); 
    
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: var(--black-color);
    margin: 0 20px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
     color:var(--semititle-color);
     text-decoration: underline;
   
}
.nav-responsive{
    background-color:var(--semititle-color);
    color:var(--white-color);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION inicio */
#inicio{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image:url("./img/pcescritorio.jpg");
    background-position:left;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-attachment: fixed;
   position:relative;
   
}  
#inicio::before{
    content: '';
    position:absolute;
    background-color: rgb(167, 237, 246);
    opacity: 0.4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#img1{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.inicio .contenido-seccion{
   width: 100%;
   height: 500px;
    margin: 40px; 
} 
#inicio h3,h4{
    font-family: var(--font);
    text-align: center;
    padding: 20px 0;
    position: relative;
}
#inicio{
    display:flex;
    justify-content:flex-start;
    
}
#inicio .fila{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    z-index: 100; /* Un valor alto */
    
}

#inicio .fila .col .izq{
    width: 30%;
    
}

#inicio .fila .itemder{
    width: 500px;
    height: 200px;
    padding: 50px;
    margin-bottom: 30px;
    margin-top: 50px;
    line-height: 1;
    background-color: var(--semititle-color);
    position: relative;
    border-radius: 50px 1000px / 150px;
    /* border-radius: 10px 100px / 120px; */
} 
#inicio .fila .itemder h3{
    padding: 10px;
    font-size: 30px;
    margin-left: 30px;
    text-align: center;
}
#inicio .fila .itemder h4{
    padding: 5px;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
#inicio .contenido-seccion .about{
    font-size: 11px;
    display: block;
    margin-left: 120px;
    padding: 50px 20px;
}
#inicio .contenido-seccion .about h3{
    color:var(--semititle-color);
    margin-left: 12opx;
    padding: 50px 20px;
}
#inicio .fila .izquierda{
    margin-right:60px;
}
#inicio .fila .izquierda img{
   width: 100%;
   height: auto;
   border-radius: 60px;
   border: 1px solid var(--semititle-color);
}
#inicio .fila .derecha{
    margin-left: 80px;
}
.sobremi{
    background-color: var(--background-color);
    color: var(--white-color);
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family:var(--font);
    text-align: center;
    padding: 20px 0;
}
.sobremi .contenido-seccion p{
    font-size: 29px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color:var(--semititle-color);
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: var(--font);
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color:var(--semititle-color);
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color:var(--semititle-color);
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color:var(--semititle-color);
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--white-color);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: var(--white-color);
    position: relative;
    z-index: 10;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--semititle-color);
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100%;
}
.avatar {
  background-image: inherit;
  background-color: inherit;
  max-width: 20px;
 }

/* SECCION CURRICULUM */
.curriculum{
    background-color: var(--gray-light-color);
    color: var(--black-color);
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    font-family: var(--font);
    text-align: center;
    padding: 20px 0;

}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: var(--font);
    margin-bottom: 25px;
    padding:50px;
}

.curriculum .fila .item{
    padding: 10px;
    margin-bottom: 30px;
    background-color: var(--white-color);
    position: relative;

}
.curriculum .fila .item h4{
    font-size: 20px;
    line-height: 18px;
    
}
.curriculum .fila .item .casa{
    color:var(--semititle-color);
    font-size: 20px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: var(--semititle-color);
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 14px;
}
.curriculum .fila .izq{
    border-right: 2px solid var(--semititle-color);
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid var(--semititle-color);
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: var(--semititle-color);
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--semititle-color);
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: var(--semititle-color);
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color:var(--semititle-color);
    float: left;
    position: relative;
    bottom: 4px;
}
/* SECCION S K I L L S */
.skills{
    background: linear-gradient(135deg,var(--semititle-color), var(--gray-light-color));
    color: var(--black-color);
    padding: 50px 20px;
    padding-bottom: 180px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
    margin-bottom:150px;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    margin-bottom: 50px;

}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .fila2{
    margin-top: 30px;;
    display: flex;
}
.skills .fila2 .col{
    width: 80%;
    padding: 0 20px;
}
.skills .fila2 .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: var(--semititle-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color:var(--semititle-color);
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
.imgavatar{
  display: flex;
  justify-content: space-between;
  
  
  
	
	
/* SECCION PORTFOLIO */
.portfolio{
    background-color: var(--gray-light-color);
    color: var(--black-color);
    padding: 50px 20px;
}
.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 48px;
    font-family: var(--font);
    text-align: center;
    padding: 20px 0;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.portfolio .galeria .proyecto{
    position: relative;
    width: 340px;
    height: 340px;
    margin: 5px;
    cursor: pointer;
    background-color: var(--semititle-color);
    border-radius: 20px;
  
}
.portfolio .galeria .proyecto img{
    /* width: 300px;
    height: 300px; */
    display: block;
    object-fit:contain;
    padding:3px;
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 20px;
}
.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(var(--semititle-color), var(--semititle-color));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}

/****** Modal ******/
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  
}
.modal-content {
  position: relative;
  background-color: var(--semititle-color); 
  border-radius: 20px;
}
.modal-close {
  position: absolute;
  margin-top: 1rem;
  margin-right: 1rem;
}
.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--semititle-color);
}
.modal[id|="trabajo"]:target {
  opacity: 1;
  pointer-events: auto;
}
.portfolio-modal img {
  width: 50%;
}
/*****Portafolio Modal *****/
.portfolio-modal {
  padding: 1rem;
  max-width: 800px;
  height: auto;
  flex-direction: column;
  background-color: var(--gray-light-color);
  /* background-color: var(--white-color); */
  
}
.portfolio-modal h3 {
  border-bottom: medium solid var(--semititle-color);
  margin: 1rem auto;
  padding: 0.5rem 0;
  color: var(--title-color);
}
.portfolio-details {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-auto-rows: 2rem;
}
.portfolio-details b {
  color: var(--semititle-color);
}

/* SECCION CONTACTO */
.contacto{
    background-color: var(--gray-dark-color);
    color: var(--white-color);
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: var(--font);
    text-align: center;
    padding: 20px 0;
}
.contacto .col h3{
	font-size: 20px;
	font-family: var(--font);
    text-align: center;
  
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 100%;
    padding: 10px;
    position: relative;
}
.contacto .col input{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: var(--gray-light-color);
    color: var(--white-color);
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--white-color);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: var(--white-color);
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--semititle-color);
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col a{
     text-decoration: none;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: var(--semititle-color);
    display: inline-block;
    margin-right: 20px;
}
footer{
    background-color: var(--gray-light-color);
    color: var(--white-color);
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: var(--white-color);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--white-color);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--semititle-color);
    color: var(--white-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid var(--white-color);
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}

